<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Discovery Dashboard
      <div class="pull-right">
        <button type="button" class="btn btn-sm btn-success" (click)="getDashboardData()">Refresh</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <div *ngIf="dashboardItems" class="row">
          <div *ngFor="let lay of layout" [ngClass]="setSize(lay.size)">
            <div *ngIf="lay.appInfo" class="card">
              <div class="card-header font-weight-bold" [ngClass]="setCardColour(lay.healthStatus)">{{lay.title}}</div>
              <div class="card-block">
                <div *ngFor="let info of lay.appInfo" class="row">
                  <div class="col-md-7">
                    <p class="font-weight-bold">{{info.labelText}}</p>
                  </div>

                  <div class="col-md-5">
                    <span *ngIf="info.count != null" class="badge badge-pill" [ngClass]="setBadgeColour(info.status)">{{info.count}}</span>
                    <p *ngIf="info.valueText">{{info.valueText}}</p>
                  </div>
                </div>
                <div *ngIf="lay.dashboardUrl" class="row">
                  <div class="col-md-12">
                    <a href="{{lay.dashboardUrl}}" target="_blank">Go to full dashboard</a>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="lay.graph" class="card">
              <div class="card-header font-weight-bold" [ngClass]="setCardColour(lay.healthStatus)">{{lay.title}}</div>
              <div class="card-block">
                <div class="row">
                  <chart [data]="lay.graph"></chart>
                </div>
                <div *ngIf="lay.dashboardUrl" class="row">
                  <div class="col-md-12">
                    <a href="{{lay.dashboardUrl}}" target="_blank">Go to full dashboard</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
