<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Adastra Receiver Dashboard
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="col-md-6">
            <p>Total messages received : {{totalMessageCount}}</p>
            <p>Messages received but not sent to Discovery: {{receivedMessageCount}}</p>
            <p>Messages sent to discovery : {{sentMessageCount}}</p>
            <p>Messages received with an error: {{errorMessageCount}}</p>
            <br>
            <p>Message Processor Status : {{runningStatus}}</p>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-sm btn-primary" (click)="startProcessor()">Start</button>
            <button type="button" class="btn btn-sm btn-primary" (click)="stopProcessor()">Stop</button>
            <button type="button" class="btn btn-sm btn-primary" (click)="getDashboardStatistics()">Refresh</button>
            <button type="button" class="btn btn-sm btn-primary" (click)="getMessages()">Message</button>
            <button type="button" class="btn btn-sm btn-primary" (click)="clearCache()">Clear Cache</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon" id="orderOrg">Column</span>
              <select #selectedOrder class="form-control" [(ngModel)]="orderColumn" name="orderColumn" (change)="columnChange()">
                <option *ngFor="let o of orderList" [ngValue]="o.column">{{o.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon" id="asc">Order</span>
              <select #selectedOrder class="form-control" [(ngModel)]="ascending" name="ascending" (change)="orderChange()">
                <option *ngFor="let a of ascendinglist" [ngValue]="a.ascending">{{a.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon" id="pageSize">Items Per Page</span>
              <select #selectedPageSize class="form-control" [(ngModel)]="pageSize" name="pageSize" (change)="pageSizeChange()">
                <option *ngFor="let ps of pageSizeList" [ngValue]="ps.value">{{ps.value}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p>Messages</p>
            <table class="table table-striped table-sm">
              <thead>
                <th class="d-inline-block col-1">Id</th>
                <th class="d-inline-block col-1">Source</th>
                <th class="d-inline-block col-2">Received</th>
                <th class="d-inline-block col-1">Status</th>
                <th class="d-inline-block col-2">Sent</th>
              </thead>
              <tr *ngFor="let message of messages">
                <td class="d-inline-block col-1">{{message.id}}</td>
                <td class="d-inline-block col-1">{{message.source}}</td>
                <td class="d-inline-block col-2">{{message.receivedDateTime}}</td>
                <td class="d-inline-block col-1">{{message.status}}</td>
                <td class="d-inline-block col-2">{{message.sentDateTime}}</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ngb-pagination [collectionSize]="totalMessageCount" [(page)]="pageNumber" [maxSize]="100" [pageSize]="pageSize" [boundaryLinks]="true" (pageChange)="pageChanged($event)"></ngb-pagination>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p>Enter XML message to send</p>
            <textarea [(ngModel)]="messageXML" name="messageXML"></textarea>
            <button type="button" class="btn btn-sm btn-primary" (click)="sendXML()">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
