<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Adastra Receiver Dashboard
      <div class="pull-right">
        <button type="button" class="btn btn-sm btn-success" (click)="getAdastraInformation()">Refresh</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header font-weight-bold">Message Statistics</div>
              <div class="card-block">
                <div *ngFor="let info of adastraInformation" class="row">
                  <div class="col-md-9">
                    <p class="font-weight-bold">{{info.labelText}}</p>
                  </div>
                  <div class="col-md-3">
                    <span *ngIf="info.count != null" class="badge badge-pill" [ngClass]="setBadgeColour(info.status)">{{info.count}}</span>
                    <p *ngIf="info.valueText">{{info.valueText}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header font-weight-bold">Adastra Message Count</div>
              <div class="card-block">
                <chart [data]="messageChart"></chart>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
