<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Adastra Receiver Message List
      <div class="pull-right">
        <button type="button" class="btn btn-sm btn-success" (click)="getMessages()">Refresh</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="col-md-12">
            <label class="font-weight-bold">Filter messages based on status:</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2" [ngClass]="setBgColour(option.value)" *ngFor="let option of options">
            <label>
              <input type="checkbox"
                     name="options"
                     value="{{option.value}}"
                     [(ngModel)]="option.checked"
                     (change)="getMessages()"
                     [ngClass]="setBgColour(option.value)"/>
              <span>{{option.name}}</span>
            </label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon" id="orderOrg">Column</span>
              <select #selectedOrder class="form-control" [(ngModel)]="orderColumn" name="orderColumn" (change)="getMessages()">
                <option *ngFor="let o of orderList" [ngValue]="o.column">{{o.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon" id="asc">Order</span>
              <select #selectedOrder class="form-control" [(ngModel)]="ascending" name="ascending" (change)="getMessages()">
                <option *ngFor="let a of ascendinglist" [ngValue]="a.ascending">{{a.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon" id="pageSize">Items Per Page</span>
              <select #selectedPageSize class="form-control" [(ngModel)]="pageSize" name="pageSize" (change)="getMessages()">
                <option *ngFor="let ps of pageSizeList" [ngValue]="ps.value">{{ps.value}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-sm">
              <thead>
              <th class="d-inline-block col-1">Id</th>
              <th class="d-inline-block col-1">Source</th>
              <th class="d-inline-block col-2">Received</th>
              <th class="d-inline-block col-1">Status</th>
              <th class="d-inline-block col-2">Sent</th>
              <th class="d-inline-block col-3">Error Message</th>
              <th class="d-inline-block col-1">Details</th>
              <th class="d-inline-block col-1">Resend</th>
              </thead>
              <tr *ngFor="let message of messages" [ngClass]="setColour(message.status)">
                <td class="d-inline-block col-1">{{message.id}}</td>
                <td class="d-inline-block col-1">{{message.source}}</td>
                <td class="d-inline-block col-2">{{message.receivedDateTime | date: 'dd/MM/yy hh:mm:ss'}}</td>
                <td class="d-inline-block col-1">{{message.status}}</td>
                <td class="d-inline-block col-2">{{message.sentDateTime | date: 'dd/MM/yy hh:mm:ss'}}</td>
                <td class="d-inline-block col-3 clip-text">{{message.errorMessage}}</td>
                <td class="d-inline-block col-1"><button type="button" class="btn btn-sm btn-primary" (click)="viewDetails(message)">Details</button></td>
                <td class="d-inline-block col-1"><button type="button" class="btn btn-sm btn-primary" (click)="resendMessage(message)">Resend</button></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ngb-pagination [collectionSize]="messageCount" [(page)]="pageNumber" [maxSize]="100" [pageSize]="pageSize" [boundaryLinks]="true" (pageChange)="pageChanged($event)"></ngb-pagination>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
